@use "../../../../shared/styles/variables" as vars;
@use "../../../../shared/styles/mixins" as mixins;
.cart {
    width: 100vw;
    hr {
        margin-left: 10px;
    }
    .cart_title {
        margin-left: 20px;
    }
    .cart_container {
        display: grid;
        grid-template-columns: 60% 38%;
        justify-content: center;
        @include mixins.tablet {
            grid-template-columns: 100%;
        }
    }
}
