@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.form {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1) !important;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    @include mixins.tablet {
        width: 100%;
    }
    .form__title {
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 20px;
    }
    .form_delivery {
    }
    .form__price {
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1) !important;
        margin-top: 30px;
        .form__price_title {
            font-weight: 350;
            font-size: 20px;
        }
        .form__price_actual {
        }
    }
}
