@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.designers {
    img {
        width: 100%;
        height: 220px;
        border-radius: 10px;
    }

    .designers_container {
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;

        .designers_container_info {
            margin-top: 30px;

            .designers_container_info_text_title {
                margin-bottom: 30px;
                font-size: 18px;
                line-height: 1.4rem;
            }

            .designers_container_info_text_description {
                margin-top: 30px;
                font-size: 17px;
                line-height: 1.4rem;
                margin-bottom: 30px;
            }

            h2 {
                margin-bottom: 40px;
                font-size: 26px;
            }

            .designers_grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, auto);
                gap: 10px;

                .designers_grid_item {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    background-color: white;
                    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
                    padding: 20px;
                    font-size: 18px;

                    .designers_grid_item_number {
                        background-color: #e6f4ff;
                        color: #1677ff;
                        padding: 5px;
                        border-radius: 5px;
                        width: 40px;
                        text-align: center;
                    }

                    .designers_grid_item_text {
                        margin-top: 20px;
                    }
                }

                /* Для первого элемента, который занимает 2 колонки */
                .designers_grid_item:nth-child(1) {
                    grid-column: span 2;
                }

                /* Для второго элемента */
                .designers_grid_item:nth-child(2) {
                    grid-column: span 1;
                }

                /* Для остальных элементов */
                .designers_grid_item:nth-child(4),
                .designers_grid_item:nth-child(5),
                .designers_grid_item:nth-child(6),
                .designers_grid_item:nth-child(7) {
                    grid-column: span 1;
                }

                /* Стили для шестого элемента (если он есть) */
                .designers_grid_item:nth-child(6) {
                    grid-column: span 2;
                    background: white;
                    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
                    height: 300px;
                }
            }
        }

        .designers_container_phone {
            /* Контейнер для формы контакта */
        }
    }

    /* Мобильная версия */
    @include mixins.mobile {
        .designers_container {
            grid-template-columns: 100% !important;
        }

        .designers_grid {
            grid-template-columns: 1fr !important; /* Все элементы по одному в строке */
        }

        .designers_grid_item:nth-child(1) {
            grid-column: span 1; /* Первый элемент теперь занимает 1 колонку */
        }

        .designers_grid_item:nth-child(6) {
            grid-column: span 1; /* В мобильной версии элемент 6 тоже занимает 1 колонку */
        }
        .designers_grid_item:nth-child(7) {
            grid-column: span 2 !important; /* В мобильной версии элемент 6 тоже занимает 1 колонку */
        }

        h2 {
            font-size: 22px;
        }

        .designers_container_info_text_title {
            font-size: 16px;
        }

        .designers_container_info_text_description {
            font-size: 15px;
        }
    }

    /* Планшетная версия */
    @include mixins.tablet {
        .designers_grid {
            grid-template-columns: repeat(2, 1fr) !important; /* 2 колонки */
        }

        .designers_grid_item:nth-child(1) {
            grid-column: span 2; /* Первый элемент занимает 2 колонки */
        }

        .designers_grid_item:nth-child(6) {
            grid-column: span 2; /* Шестой элемент занимает 2 колонки */
        }

        h2 {
            font-size: 24px;
        }

        .designers_container_info_text_title {
            font-size: 17px;
        }

        .designers_container_info_text_description {
            font-size: 16px;
        }
    }
}
