@use "../../../../../shared/styles/mixins" as mixins;
@use "../../../../../shared/styles/variables";

.location {
    display: flex;
    flex-direction: column;
    width: 171px;
    .location__city {
        font-size: 16px;
        font-weight: 600;
    }

    .location__time {
        font-size: 12px;
        margin-top: 5px;
        color: #828282;
        display: flex;
        align-items: center;
    }

    hr {
        padding: 0;
        margin: 0;
        @include mixins.tablet {
            display: none;
        }
    }
}
