@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.location {
    display: flex;
    flex-direction: column;
    .location__city {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .location__time {
        font-size: 14px;
        font-weight: 400;
        margin-top: 5px;
        display: flex;
        align-items: center;
    }

    hr {
        padding: 0;
        margin: 0;
        @include tablet {
            display: none;
        }
    }
}
