.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
    transition: transform 0.3s ease;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 250px;
    img {
        height: 200px !important;
    }
}

.card:hover {
    transform: scale(1.05);
}

.cardContent {
    text-align: center;
}

.price {
    font-weight: bold;
    color: #f6a800;
    margin-top: 10px;
}
