@use "@/shared/styles/mixins" as mixins;

.showroom {
    .showroom_container {
        max-width: 1200 px;

        @include mixins.mobile {
            margin-top: 45 px;
        }

        .title {
            margin-bottom: 20 px;
        }

        hr {
            width: 100 px;
            margin-top: 10 px;
            border-top: 2 px solid red;
        }

        .container_description {
            display: grid;
            grid-template-columns: 46% 50%;
            align-items: center;
            justify-content: space-between;

            img {
                height: 280 px;
                width: 100%;
                border-radius: 10 px;
            }

            @include mixins.mobile {
                grid-template-columns: 100%;
            }
        }

        .description {
            font-size: 18 px;
            line-height: 1.6;
            margin-bottom: 40 px;
            color: #555;

            @include mixins.mobile {
                order: 2;
                margin-top: 20 px;
                margin-bottom: 0;
            }
        }

        .carousel_container {
            margin-bottom: 40 px;
            width: 100%;

            @include mixins.mobile {
                margin-bottom: 15 px;
            }

            .slick_slide {
                width: 200 px;
                height: 400 px !important ;

                margin-top: 30 px;

                img {
                    width: 100%;
                    height: 400 px;
                    border-radius: 10 px;

                    @include mixins.mobile {
                        height: 300 px !important ;
                    }
                }

                @include mixins.mobile {
                    height: 300 px !important ;
                }
            }
        }

        .subtitle {
            font-size: 28 px;
            font-weight: 600;
            margin-bottom: 20 px;
        }

        .map_container {
            width: 100%;
            height: 400 px;
            border-radius: 10 px;
            box-shadow: 0x0x15 rgba(0, 0, 0, 0.1);

            overflow: hidden; // Убедитесь, что это значение актуально
        }
    }
}
