// styles/Showroom.module.scss
@use "@/shared/styles/mixins" as mixins;

.showroom {
    .showroom_container {
        max-width: 1200px;
        @include mixins.mobile {
            margin-top: 45px;
        }

        .title {
            margin-bottom: 20px;
        }

        hr {
            width: 100px;
            margin-top: 10px;
            border-top: 2px solid red;
        }

        .container_description {
            display: grid;
            grid-template-columns: 46% 50%;
            align-items: center;
            justify-content: space-between;
            img {
                height: 280px;
                width: 100%;
                border-radius: 10px;
            }

            @include mixins.mobile {
                grid-template-columns: 100%;
            }
        }

        .description {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 40px;
            color: #555;
            @include mixins.mobile {
                order: 2;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }

        .carousel_container {
            margin-bottom: 40px;
            width: 100%;
            @include mixins.mobile {
                margin-bottom: 15px;
            }

            .slick_slide {
                width: 200px;
                height: 400px !important;
                margin-top: 30px;
                img {
                    width: 100%;
                    height: 400px;
                    border-radius: 10px;
                    @include mixins.mobile {
                        height: 300px !important;
                    }
                }
                @include mixins.mobile {
                    height: 300px !important;
                }
            }
        }

        .subtitle {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .map_container {
            width: 100%;
            height: 400px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
    }
}
