@use "../../shared/styles/variables" as *;
@use "../../shared/styles/mixins" as mixins;

.burgerButton {
  display: none;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  span {
    width: 2rem;
    height: 0.25rem;
    background: black;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    &:first-child {
      transform: rotate(0);

      .open & {
        transform: rotate(45deg);
      }
    }

    &:nth-child(2) {
      opacity: 1;

      .open & {
        opacity: 0;
      }
    }

    &:nth-child(3) {
      transform: rotate(0);

      .open & {
        transform: rotate(-45deg);
      }
    }
  }
}
