@use "../../../../shared/styles/mixins.scss" as mixins;
@use "../../../../shared/styles/variables.scss";

.product__function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &__general {
        display: flex;
        gap: 20px;
        font-size: 24px;
    }

    &__favorite {
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }

        svg {
            font-size: 24px;
        }
    }

    .product__function__rating {
        svg {
            font-size: 17px;
        }
    }
    .product__function__general {
        svg {
            font-size: 25px;
            margin-right: 20px;
            margin-top: 10px;
        }
    }
}

.title {
    margin-bottom: 10px !important;
    @include mixins.mobile {
        margin-top: 40px;
    }
}
