@use "../../../shared/styles/variables" as vars;
@use "../../../shared/styles/mixins" as mixins;

.about__title {
    margin-bottom: 20px;
    width: 700px;
    @include mixins.tablet {
        margin-top: 30px;
        width: 100%;
        margin-left: 10px;
    }
    h1 {
        font-size: 41px;
    }
    hr {
        width: 100px;
        margin-top: 10px;
        border-top: 2px solid red;
    }
}
