@use "../../../../../shared/styles/variables";
@use "../../../../../shared/styles/mixins" as mixins;

.search {
    width: 90% !important;
}

.search__icon {
    @include mixins.mobile {
        width: 40px;
        height: 40px;
    }
    svg {
        @include mixins.mobile {
            width: 40px;
            height: 40px;
        }
    }
}
