@import "@/shared/styles/variables";
@import "@/shared/styles/mixins";

.search {
    width: 90% !important;
}

.search__icon {
    @include mobile {
        width: 40px;
        height: 40px;
    }
    svg {
        @include mobile {
            width: 40px;
            height: 40px;
        }
    }
}
