@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/variables" as vars;

.layout {
  display: flex;
  min-height: 100vh !important;
  margin-top: 80px;
  @include mixins.mobile {
    margin-top: 20px;
    min-height: 100% !important;
  }

  .content {
    margin-top: 80px;
    max-width: 1500px;
    border-radius: 10px;
    margin-right: 20px;

    @include mixins.mobile {
      margin-top: 120px;

      margin-right: 0px;
      margin-left: 0px;
      border-radius: 0;
      padding: 15px;
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.visible {
      display: block;
      opacity: 1;
    }
  }
}

@include mixins.mobile {
  .mobile-hidden {
    display: none !important;
  }

  .mobile-visible {
    display: block !important;
  }

  .ant-layout-sider {
    position: fixed !important;
    left: 0;
    top: 90px;
    height: calc(100vh - 90px) !important;
    z-index: 998;
  }
}

:global {
  .ant-layout {
    background: #fff !important;
  }

  .ant-layout-footer {
    background: #fff;
    padding: 24px;
  }
}
