.product {
    display: grid;
    grid-template-columns: 60% 40%;
    .product__card_container {
        padding: 20px;
        h2 {
            margin-bottom: 20px;
            margin-top: 10px;
        }
        img {
            height: 500px;
        }

        .product__function {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .product__function__rating {
                svg {
                    font-size: 17px;
                }
            }
            .product__function__general {
                svg {
                    font-size: 25px;
                    margin-right: 20px;
                    margin-top: 10px;
                }
            }
        }
    }
}
