@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: vars.$header-height - 60px;
    .header__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: vars.$header-height;
        width: 100%;
        padding: 0px 20px;
        margin-top: 30px;
        gap: 20px;

        @include mixins.mobile {
            width: 85%;
            svg {
                width: 32px;
            }
        }

        img {
            width: 130px;
            height: 90px;
            @include mixins.mobile {
                width: 100px;
            }
        }

        .header__search {
            text-align: center;
            @include mixins.tablet {
                span {
                    width: 85%;
                }
            }
        }
    }
}
