.menu {
    .menu__title {
        margin-left: 25px;
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    width: 80% !important;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    .icon {
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
            height: 35px !important;
            width: 35px !important;
        }
    }
}
