@use "../../shared/styles/mixins" as mixins;
@use "../../shared/styles/variables" as vars;

.title {
    width: 200px;
}

.loading {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-top: 50px;
}

.loading::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.category {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
    row-gap: 24px;
    justify-content: space-between;
    @media (max-width: 758px) {
        justify-content: center;
    }

    @include mixins.tablet {
        margin-top: 40px;
    }

    .category__card {
        background-color: white;
        width: 24%;
        max-width: 365px;
        position: relative;
        height: 324px;
        a:hover {
            color: black !important;
        }

        @include mixins.tablet {
            width: 45%;
        }

        @include mixins.mobile {
            width: 100%;
        }

        .category__card__description {
            position: absolute;
            left: -250px; // Убедитесь, что это значение актуально для вашего дизайна
            top: 0px;
            background-color: rgba(255, 255, 255);
            padding: 10px;
            border-radius: 4px;
            height: 320px;
            width: 250px;
            @include mixins.mobile {
                left: 0px; // Убедитесь, что это значение актуально для вашего дизайна
                height: 311px;
            }

            // Перемещаем декларации выше вложенных правил
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            opacity: 0; // Изначально скрыто
            transform: translateY(10px);
            pointer-events: none;

            transition:
                opacity 0.3s ease,
                transform 0.3s ease;

            &.visible {
                // Используем синтаксис & для класса visible
                opacity: 1; // Показать описание при наличии класса visible
                transform: translateY(0);
                pointer-events: auto; // Разрешить взаимодействие
            }

            .category__card__description_image {
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                img {
                    width: 100%;
                    height: 85px; // Измените на auto для сохранения пропорций
                    border-radius: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .category__card__description_price {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }
}
