@use "../../../../../shared/styles/variables";
@use "../../../../../shared/styles/mixins" as mixins;

.icon {
    font-size: 30px;
    width: 35px;
    height: 30px;
    @include mixins.mobile {
        width: 40px;
        height: 40px;
    }
}
.stub__cart {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 17px;
    font-weight: 600;
}
