@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.authContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    background-color: #f5f5f5 !important;
    align-items: center;
    justify-items: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../../../public/Vector133.png");
    background-repeat: no-repeat;
    position: relative !important;
    z-index: 5 !important;
    height: 100%;

    @include mixins.tablet {
        grid-template-columns: 100%;
        width: 100%;
    }

    .imagebody {
        height: 800px;
        width: 100%;
        border-radius: 18px;
        image-rendering: optimizeQuality;
        position: relative;
        z-index: 2;

        @include mixins.tablet {
            display: none; // Скрыть на планшетах
        }
    }

    .auth {
        @include mixins.mobile {
            margin-top: 30px; // Убедитесь, что это значение актуально
        }

        width: 100%;
        display: flex;
        background-color: transparent !important; // Измените на transparent вместо #ffffff00
        border: none !important;

        @include mixins.tablet {
            justify-content: center; // Центрирование на планшетах
        }

        .auth__container {
            display: flex;
            flex-direction: column;
            align-items: flex-start; // Изменено с left на flex-start
        }

        .auth__title {
            margin-bottom: 10px;
            text-align: left;
            font-family: Helvetica, sans-serif; // Добавьте запасной шрифт
            font-size: 55px;
            line-height: 63px;
            font-weight: 400;
        }

        .auth__input {
            margin-bottom: 10px;
            width: 100%;
            border-radius: 32px;
            height: 44px;
            font-size: 32px; // Добавьте px для единиц измерения
        }

        .auth__button_container {
            width: 100%;
        }

        .auth__button {
            display: flex;
            width: 100%;
            height: 56px;
            border-radius: 32px;
            font-size: 20px;
        }

        .auth__input_password {
            width: 50%;
        }

        .auth__description {
            text-align: left; // Убедитесь, что это значение актуально
        }
    }
}
