.container {
    margin: 0px auto;
    max-width: 900px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.details {
    margin-top: 20px;
}

.summary {
    margin-top: 10px;
    font-size: 16px;
}

.history {
    margin-top: 30px;
}

.event {
    margin-bottom: 10px;
}
