@use "../../../shared/styles/variables";
@use "../../../shared/styles/mixins" as mixins;
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include mixins.mobile {
        flex-direction: column;
        text-align: center;
    }
    .footer__contacts {
        display: flex;
        @include mixins.mobile {
            width: 100%;
        }
    }
    .footer__logo__contacts {
        img {
            width: 150px;
            height: 80px;
        }
        @include mixins.mobile {
            width: 100%;
        }
    }

    .footer__logo__contacts__social {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        svg {
            font-size: 30px;
        }
        @include mixins.mobile {
            width: 100%;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    .footer__info__links {
        display: flex;
        margin-top: 20px;
        gap: 60px;
        @include mixins.mobile {
            justify-content: center;
            margin: 20px;
        }
        .footer__info__links__column {
            p {
                margin: 8px 0px;
            }
        }
    }

    .footer__info {
        @include mixins.mobile {
            width: 100%;
        }
    }
    .footer__copyright {
        h3 {
            margin-bottom: 20px;
        }
        p {
            margin: 8px 0px;
        }
        @include mixins.mobile {
            width: 100%;
        }
    }
}
