@use "variables" as vars;
@use "mixins" as mixins;
@use "reset";

body {
  font-family: "Roboto", sans-serif;
  color: vars.$text-color;
  background: vars.$background-color;
}

.container {
  max-width: vars.$container-width;
  margin: 0 auto;
  padding: 0 15px;

  @include mixins.tablet {
    max-width: 100%;
  }
}

.text-primary {
  color: vars.$primary-color;
}
