@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.delivery {
    .delivery__banner {
        width: 100%;
        height: 220px;
        border-radius: 10px;

        @include mixins.mobile {
            margin-top: 40px; // Убедитесь, что это значение актуально
        }
    }

    .delivery__description {
        width: 100%;
        height: 150px;
        background-color: #fff5d0;
        border-radius: 10px;
        padding: 25px 50px;

        line-height: 1.2rem;
        font-size: 16px; // Добавьте px для единиц измерения
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include mixins.mobile {
            padding: 10px;
            height: 220px; // Убедитесь, что это значение актуально
            display: flex;
            justify-content: center; // Центрирование на мобильных устройствах
        }

        @include mixins.tablet {
            padding: 10px;
            height: 220px; // Убедитесь, что это значение актуально
            display: flex;
            justify-content: center; // Центрирование на планшетах
        }
    }

    .delivery__sail {
        width: 100%;
        height: 65px;
        background-color: #fff5d0;
        border-radius: 10px;
        padding: 25px 50px;
        margin-bottom: 10px;
        font-size: 16px; // Добавьте px для единиц измерения

        @include mixins.mobile {
            padding: 10px; // Убедитесь, что это значение актуально
            display: flex;
            justify-content: center; // Центрирование на мобильных устройствах
        }

        @include mixins.tablet {
            height: 100%; // Убедитесь, что это значение актуально
        }
    }

    .delivery__pricy_about {
        display: flex;
        justify-content: center; // Центрирование содержимого
        gap: 20px;

        @include mixins.mobile {
            flex-direction: column; // Вертикальная компоновка на мобильных устройствах
        }
    }

    .delivery__pricy {
        font-size: 20px; // Добавьте px для единиц измерения
        margin-top: 15px;
        margin-bottom: 15px;

        span {
            font-weight: 600;
        }

        @include mixins.mobile {
            text-align: center; // Центрирование текста на мобильных устройствах
        }
    }

    .delivery__info {
        background-color: #f6f6f6;
        padding: 20px;
        border-radius: 10px;
        line-height: 1.3rem;

        span {
            font-weight: 600;
            font-size: 17px; // Добавьте px для единиц измерения
        }
    }
}
