@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.guarantee {
    .guarantee__container {
        img {
            width: 100%;
            height: 220px;
            border-radius: 10px;
        }
    }

    .guarantee_infos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px 20px;
        margin: 20px 0px;
        background-color: #fff;
        border-radius: 10px;
        @include mixins.mobile {
            text-align: center;
            display: flex;
            padding: 50px 5px;
            gap: 9px;
        }

        .guarantee_info {
            text-align: center;
            max-width: 200px;
            @include mixins.mobile {
                text-align: center;
                height: 150px;
            }

            .feature-icon {
                font-size: 70px;
                color: #4caf50;
                margin-bottom: 20px;
                @include mixins.mobile {
                    font-size: 45px;
                }
            }

            .feature-title {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
                @include mixins.mobile {
                    font-size: 14px;
                }
            }

            .feature-text {
                font-size: 16px;
                color: #555;
            }
        }
    }
    .guarantee__rules {
        display: grid;
        grid-template-columns: 49% 49%;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        @include mixins.mobile {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .guarantee__rules__block {
            background-color: #f6f6f6;
            padding: 20px;
            border-radius: 10px;
            line-height: 1.3rem;
            height: 100%;
            .guarantee__rules__block__title {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .guarantee__rules__block_line {
                color: #ff8522;
            }
            b {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            li {
                list-style: inside;
            }
            h2 {
                margin-bottom: 15px;
                font-size: 22px;
            }
            p {
                margin-bottom: 8px;
                margin-top: 8px;
                font-size: 16px;
            }
        }
    }
}
