@use "@/shared/styles/variables.scss";
@use "@/shared/styles/mixins.scss" as mixins;

.phone__number {
    display: flex;
    flex-direction: column;
    @include mixins.mobile {
        width: 100%;
    }
}

.phone__number_text {
    margin-bottom: 5px;
}

.phone__mail {
    font-size: 14px;
    color: #999;
    margin: 0 !important;
}

.phone__button {
    margin-left: 10px;

    @include mixins.tablet {
        display: none;
    }
}
