@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/variables" as vars;

.profile {
    display: grid;
    grid-template-columns: 32% 65%;
    gap: 15px;
    align-items: start;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1235px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    @include mixins.tablet {
        width: 100%;
    }

    @include mixins.tablet {
        grid-template-columns: 50% 50%;
        justify-items: start;
        align-items: center;
        margin: 0;
        margin-left: 10px;
        margin-bottom: 20px;

        @media (max-width: 600px) {
            margin-left: 0px;
        }
    }

    @media (max-width: 800px) {
        grid-template-columns: 100%;
    }

    img {
        width: 121px;
        height: 121px;
        border-radius: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .profile__container {
        width: 100%;
        @include mixins.tablet {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .profile__container_left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid #e5d9d0;
            padding: 10px;
            border-radius: 32px;
            width: 373px;
            height: 396px;

            @media (max-width: 600px) {
                width: 250px !important;
            }
        }
        .profile__info {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 20px;

            h2 {
                font-family: "Helvetica";
                font-weight: 700;
                font-size: 24px;
                line-height: 22px;
                color: #2c2c2c;
            }
            p {
                font-family: "Helvetica";
                font-weight: 400;
                font-size: 20px;
                line-height: 22px;
                color: #2c2c2c;
            }
        }
    }
    .profile__delivery_list {
        border: 1px solid #e5d9d0;
        padding: 24px;
        border-radius: 32px;
        gap: 40px;
        width: 827px;
        height: 396px;
        @include mixins.tablet {
            width: 373px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 600px) {
            width: 250px !important;
        }
        .profile__delivery_list__title {
            border: 1px solid #198b52;
            border-radius: 20px;
            width: 140px;
            font-family: "Helvetica";
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            color: #198b52;
            width: 132px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .profile__delivery_list__container {
            background-color: vars.$container_bac;
            padding-top: 30px;
            border-radius: 10px;
            text-align: left;
            display: flex;
            gap: 45px;
            font-size: 18px;
            max-height: 300px;
            max-width: 300px;

            .profile__delivery_list__container__carousel {
                height: 280px !important;
                width: 700px !important;
                @include mixins.tablet {
                    width: 200px !important;
                }
            }

            .profile__delivery_list__container__product {
                color: #198b52;
                width: 300px !important;
                height: 300px !important;
                @media (max-width: 600px) {
                    width: 250px !important;
                }
                img {
                    width: 193px;
                    height: 193px;
                    border-radius: 7.69px;
                    margin: 0 !important;
                }
            }
        }
    }
}
