.sidebar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    overflow-x: hidden;
    max-width: 400px;
    margin-top: 60px;
    margin-left: auto;
    align-items: center;
    margin-left: 15px;
}
